body {
    font-family: Arial, sans-serif;
    background-color: #96c9f4;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Menempatkan konten di tengah secara vertikal */
    align-items: center; /* Menempatkan konten di tengah secara horizontal */
}

header, footer {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.header-content {
    background-color: #004085;
    padding: 20px 0;
}

.footer-content {
    background-color: #004085;
    padding: 20px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.footer-content p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #0056b3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2, p {
    margin: 0 0 15px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
}

.btn-primary {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
}
